@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat+Alternates:wght@300&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat+Alternates:wght@300&family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,100&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1A1C20;
  color: #F4F4F4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

main {
  padding: 4rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

/* Estilos para el encabezado */

header {
  background-color: #1A1C20;
  padding: 20px;
  margin-top: 3rem;
}

h1 {
  text-align: center;
  margin: 0;
  font-family: 'Dancing Script', cursive, sans-serif;
  font-size: 125px;
  color: #F4F4F4;
  padding: 20px;
}

nav {
  text-align: center;
  margin: 20px;
  padding: 15px;
  font-size: 18px;
  color: #F4F4F4;
  font-family: 'Open Sans', sans-serif;
}

#inicio{
  text-align: end;
  font-size: 25px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-decoration: underline;
  text-decoration-color: #F0A500;
}

#menunav {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#botoncomidas ul {
  list-style-type: none;
  padding: 0px;
}

.menu-item {
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
}

.menu-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgb(104, 104, 104);
  transition: box-shadow 0.3s ease;
}

.menu-item a:hover {
  box-shadow: 0 4px 8px rgb(255, 255, 255);
}

.menu-item img {
  width: 64px;
}


.comida {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.comidas-list {
  max-width: 55rem;
  margin: 2rem auto;
  padding: 5px;
  text-align: start;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  columns: 2;
  column-rule: 1px solid #F4F4F4;
  line-height: 2rem;
}

nav ul {
  list-style-type: none;
  margin: 30px;
  padding: 20px;
  font-size: 20px;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #F4F4F4;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

/* Estilos para las secciones */

section {
  margin-bottom: 10px;
}

section h2 {
  color: #F0A500;
  padding: 30px;
  font-family: 'Open Sans', sans-serif;
}

#sobre-nosotros {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #F0A500;
  margin-left: 4rem;
  margin-right: 4rem;
  letter-spacing: 1px;
}

section p {
  color: #F0A500;
  padding-top: 1rem;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

section ul {
  list-style-type: none;
  padding: 5px;
  font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.comentario {
  color: #F0A500;
  font-style: italic;
  font-size: 15px;
  padding: 3px;
}

#contacto {
  font-family: 'Montserrat Alternates', sans-serif;
  margin-left: 8rem;
  margin-top: 6rem;
  font-size: 20px;
}

/* Estilos para el pie de página */

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

.dios {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 30px;
  color: #F0A500;
  font-weight: bold;
}

#YamilaDe-mi-casa-a-tu-mesa {
  margin-left: 6rem;
  margin-top: 6rem;
  padding: 2rem;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin-right: 8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

#yamila {
  color: #F0A500;
  font-size: 6rem;
  font-family: 'Dancing Script', cursive, sans-serif;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

#catering-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  line-height: 1.5;
  color: #F0A500;
  margin-left: 4rem;
  margin-right: 4rem;
  letter-spacing: 1px;
}

#lunch {
  padding-bottom: 2rem;
}

#kilo {
  padding-bottom: 2rem;
}

#vegana {
  padding-bottom: 2rem;
}

#podrido {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
}