@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat+Alternates:wght@300&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat+Alternates:wght@300&family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,100&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1A1C20;
  color: #F4F4F4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}


/* Estilos para el encabezado */

header {
  background-color: #1A1C20;
  padding: 20px;
}

h1 {
  text-align: center;
  margin: 0;
  font-family: 'Dancing Script', cursive, sans-serif;
  font-size: 125px;
  color: #F4F4F4;
  padding: 50px;
}

nav {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: #F4F4F4;
  font-family: 'Open Sans', sans-serif;
}
#inicio{
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat Alternates', sans-serif;
}

#botoncomidas ul {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  display: inline-block;
  margin: 10px;
  background-color: #CF7500;
  border-radius: 10px;
}

.menu-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 2px solid rgb(104, 104, 104);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgb(104, 104, 104);
  transition: box-shadow 0.3s ease;
}

.menu-item a:hover {
  box-shadow: 0 4px 8px rgb(255, 255, 255);
}

.menu-item img {
  width: 64px;
}


.comida {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.comidas-list {
  max-width: 800px; /* Ajusta el valor según tus necesidades */
  margin: 0 auto; /* Centra la lista horizontalmente */
  border: 1px solid #F4F4F4;
  padding: 10px;
  border-radius: 30px;
  text-align: start;
  font-family: 'Roboto', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 30px;
  padding: 20px;
  font-size: 20px;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #F4F4F4;
  text-decoration: none;
}

/* Estilos para las secciones */

section {
  margin-bottom: 10px;
}

section h2 {
  margin: 0 0 10px;
  color: #F0A500;
  padding: 30px;
  font-family: 'Open Sans', sans-serif;
}

section p {
  color: #F0A500;
}

section ul {
  list-style-type: none;
  padding: 5px;
}

.comentario {
  font-size: 12px;
  color: F4F4F4;
}
/* Estilos para el pie de página */

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

/* Estilos responsivos */

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  header {
    padding: 10px;
  }

  nav {
    font-size: 16px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  section h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 24px;
  }

  section h2 {
    font-size: 20px;
  }
}